/**
 * Rofi Configuration
 * Theme: Base16 Monochrome Brutalist
 **/

configuration {
    modi:                       "drun,tools:/home/kryisnn/.config/hypr/scripts/rofi-tools.sh,wallpaper:/home/kryisnn/.config/awww/wallpaper-picker.sh,window";
    font:                       "Iosevka Nerd Font Mono 11";
    show-icons:                 true;
    icon-theme:                 "Papirus-Dark";
    display-drun:               "  Apps";
    display-tools:              "  Tools";
    display-wallpaper:          "  Wallpapers";
    display-window:             "  Windows";
    drun-display-format:        "{name}";
    window-format:              "{w} · {c} · {t}";
}

@theme "theme"
