{
  description = "Nix development & tooling environment";

  inputs = {
    nixpkgs.url = "github:nixos/nixpkgs/nixos-unstable";
  };

  outputs = {
    self,
    nixpkgs,
  }: let
    systems = [
      "x86_64-linux"
      "aarch64-linux"
    ];
    forAllSystems = f: nixpkgs.lib.genAttrs systems (system: f nixpkgs.legacyPackages.${system});
  in {
    devShells = forAllSystems (pkgs: {
      default = pkgs.mkShell {
        packages = with pkgs; [
          alejandra
          nixfmt
          nil
          deadnix
          statix
          nix-prefetch-github
        ];

        shellHook = ''
          echo "⚡ [Nix Tooling Dev Environment Loaded]"
          echo "  • Formatters: alejandra, nixfmt"
          echo "  • LSP:        nil"
          echo "  • Linters:    deadnix, statix"
        '';
      };
    });
  };
}
